.grid {
	padding-top: 60px;
	
	.row {
		margin-bottom: 0 !important;
	}
	
	&-item {
		margin-bottom: 40px;
	}
	
	img {
		width: 100%;
	}

	.row {
		margin-bottom: 40px;
	}

	.up {
		@media (min-width: 540px) {
			margin-top: -160px;
		}
	}
}